<h1>Dashboard for <%= @user.name %></h1>

<p><%= link_to "View available courses", courses_path %></p>


<h2>My Registered Courses</h1>

<ul class="courses">
  <% @user.registrations.each do |registration| %>
    <li>
      <p>Name: <%= registration.course.name %></p>
      <p>Time: <%= registration.course.time %></p>
      <%= button_to "Cancel Registration", registration_path(registration), method: :delete %>
    </li>
  <% end %>
</ul>
